<!doctype html>
<html lang="en">

<%- include('../partials/head') -%>

  <body style="background-color: #212529; color: white">
    <main>

      <%- include('../partials/header') -%>

        <div class="album py-3">
          <div class="container">

            <% leaguesWithEvents.forEach(league=> { %>
              <%- include('./league', { league }) -%>
            <% }) %>
          </div>
        </div>
    </main>
  </body>

</html>