<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>StreamBay TV</title>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@clappr/player@latest/dist/clappr.min.js"></script>
</head>

<body style="margin: 0;">
  <div id="player" style="width: 100vw; height: 100vh;"></div>
  <script>
    window.onload = () => {
      let player = new Clappr.Player({
        source: '<%= source %>',
        parentId: "#player",
        mimeType: 'audio/mpeg',
        autoPlay: false,
        height: '100%',
        width: '100%',
      });
    }
  </script>
</body>

</html>