<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>StreamBay TV</title>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@clappr/player@latest/dist/clappr.min.js"></script>
</head>
	<body>
  <div id="player"></div>
  <script>
    var player = new Clappr.Player({source: '<%= source %>' , parentId: "#player"});
  </script>
</body>

  </script>
</body>

</html>
